#job-details-form {
display: flex;
  flex-direction: column;  
}
#job-details-form .dibraco-section-fields {
display:flex;
 align-items: flex-start;
 flex-wrap:wrap;
}


#job-details-form .dibraco-section-fields .dibraco-section{
 display: flex;
  flex-direction: column; 
  width:48%;
}


#job-details-form label + select {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

#job-details-form .dibraco-checkbox {
    display:inline-block;
      max-width:10%;
    padding-left:5px;
    padding-right:5px;
}






@media (max-width: 768px) {
    #job-details-form #benefits_section,
    #job-details-form #responsibilities-skills {
        width: 100%;
        margin-bottom: 5px;
    }

    #job-details-form div#benefits_section.dibraco-section .section-fields,
    #job-details-form div#responsibilities-skills.dibraco-section .section-fields {
        flex-direction: column;
    }

    #job-details-form #responsibilities-skills .section-fields > .dibraco-textarea,
    #job-details-form #responsibilities-skills .section-fields > #skills {
        width: 100%;
        margin-bottom: 2px;
    }
}



@media (max-width: 480px) {
  .group-field {
    grid-template-columns: 1fr; 
  }
}




